#navbar {
    height: 100px;
    background-color: #3EB655;
}

#nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

#nav_left {
    display: flex;
    align-items: center;

}

#nav_left ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
    color: white;
}

#nav_right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.4rem;
    align-items: center;
    color: white;
}